PORT=3000
JWT_SECRET=change_this_secret
SUPABASE_URL=https://eaddgwzqmjkeqvyootau.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhZGRnd3pxbWprZXF2eW9vdGF1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTQ0ODA5NSwiZXhwIjoyMDk1MDI0MDk1fQ.i8xtks0YpFy5i4rHKK0lpn5EMEuh2DOrf47M-zXGqOU